/* This Source Code Form is subject to the terms of the MIT license
 * If a copy of the MIT license was not distributed with this file, you can
 * obtain one at https://raw.github.com/mozilla/butter/master/LICENSE */

@import "globals";
@import "webfonts";
@import "normalize";
@import "utilities";

@import "common";

@import "ui-states";
@import "buttons";
@import "dialog";

@import "editors";
@import "media-editor";

@import "header";
@import "tray";
@import "tray-status-bar";
@import "tray-timeline";

@import "plugin-module";
@import "project-editor";
@import "super-scrollbar";

@import "webmakernav";

/* Style for Canvas */
#tracks-container-canvas {
  position: absolute !important;
}

/* Compensate for the header */
.butter-header {
    height: 62px;
}
.butter-editor-area,
.butter-editor-close-btn {
    top: 62px;
}

/* Selected track event "out of flow" */
.butter-track-event.out-of-flow {
    border-color: rgb(181, 63, 63); // red
}

/* Change background color for tracks running */
.butter-track-event.running:not(.hideFlow) {
    background-color: lavender;
}

/* Handle points */
.butter-track-event .handle-point {
    position: absolute;
    background-color: rgba(51, 199, 38, 0.43);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: white 1px solid;
    z-index: 100;
    top: 6px;
    overflow: hidden;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    display: none;
}

.butter-track-event .handle-point:hover {
    cursor: crosshair;
}

.butter-track-event .left-handle-line {
    left: -13px;
}
.butter-track-event.trackevent-small .left-handle-line {
    left: -20px;
}

.right-handle-line {
    right: -13px;
}
.butter-track-event.trackevent-small .right-handle-line {
    right: -20px;
}

/* Show handle points on hover for every track */
.butter-track-event {
    overflow: visible;
}
.butter-track-event:hover .handle-point {
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    display: block;
}

/* Highlight box */
.butter-track-event.highlight {
    border-color: rgb(5, 41, 56);
}